<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <header class="container-fluid">
        <header class="container-fluid border-bottom border-dark border-1">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-lg-2 d-none d-lg-block float-start align-items-center text-center px-0 py-0 foto1"><img
                        class="bd-placeholder-img bd-placeholder-img-lg featurette image
                img-fluid mx-auto;" src="/img/nfl.png" style="max-width: 180px;"></div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12 text-center align-self-center float-none ">
                    <h1>SuperBowl 2023</h1>
                    <h4>Equipos Presentes en la SemiFinal</h4>
                </div>
                <div class="col-2 d-none d-md-none d-lg-block float-start text-center p-0 foto2"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                img-fluid mx-auto pt-lg-1;" src="img/nfl.png" style="max-width: 180px;"></div>
            </div>
        </header>

    </header>
    <main class="container-fluid bg-primary total">

        <div class="row me-0">
            <nav class="col-md-2 float-start izquierdo d-none d-md-block">
                <div class="col-12 listaizquierdo"><span>Los Equipos de la Liga</span>
                    <ul class="list list-unstyled">
                        <li class="row"><a class="col-12 p-0" href="#Eagles">Philadelphia Eagles</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Bills">Buffalo Bills</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Jaguars">Jacksonville Jaguars</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Chiefs">Kansas City Chiefs</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Giants">New York Giants</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Cowboys">Dallas Cowboys</a></li>
                        <li class="row"><a class="col-12 p-0" href="#SF49Ers">San Francisco 49ers</a></li>
                        <li class="row"><a class="col-12 p-0" href="#Bengals">Cincinnati Bengals</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-12 col-sm-12 col-md-10 p-0">
                <div class="text-center"><span class="col-12 fs-3">
                        Descripción de los Equipos
                    </span> </div>
                <div>
                    <ul class="list-unstyled">
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto3"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Eagles.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Eagles">Philadelphia Eagles</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Philadelphia</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Lincoln Financial Field</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">1</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Jalen Hurts</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Nick Sirianni</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="col" scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">14</td>
                                            <td class="derrotas2022">3</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">9</td>
                                            <td class="derrotas2021">8</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">4</td>
                                            <td class="derrotas2020">11</td>
                                            <td class="empates2020">1</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito1" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto4"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Bills.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Bills">Buffalo Bills</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Buffalo-Niagara Falls</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Highmark Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">0</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Josh Allen</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Sean McDermott</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">13</td>
                                            <td class="derrotas2022">3</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">11</td>
                                            <td class="derrotas2021">6</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">13</td>
                                            <td class="derrotas2020">3</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito2" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto5"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Jaguars.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Jaguars">Jacksonville Jaguars</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Jacksonville</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Estadio Banco TIAA</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">0</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Trevor Lawrence</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Doug Pederson</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">9</td>
                                            <td class="derrotas2022">8</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">3</td>
                                            <td class="derrotas2021">14</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">1</td>
                                            <td class="derrotas2020">15</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito3" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto6"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Chiefs.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Chiefs">Kansas City Chiefs</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Kansas City, Misuri</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Arrowhead Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">2</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Patrick Mahomes</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Lamar Hunt</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">14</td>
                                            <td class="derrotas2022">3</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">12</td>
                                            <td class="derrotas2021">5</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">14</td>
                                            <td class="derrotas2020">2</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito4" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto7"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Giants.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Giants">New York Giants</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">New York,</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">MetLife Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">4</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Daniel Jones</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Brian Daboll</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">9</td>
                                            <td class="derrotas2022">7</td>
                                            <td class="empates2022">1</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">4</td>
                                            <td class="derrotas2021">13</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">6</td>
                                            <td class="derrotas2020">10</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito5" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto8"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Cowboys.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Cowboys">Dallas Cowboys</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Dallas,Texas</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">AT&T Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">5</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Dak Prescott</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Mike McCarthy</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">12</td>
                                            <td class="derrotas2022">5</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">12</td>
                                            <td class="derrotas2021">5</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">6</td>
                                            <td class="derrotas2020">10</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito6" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto9"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/SF49Ers.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4"id="SF49Ers">San Francisco 49ers</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Santa Clara, California</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Levi's Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">5</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Jimmy Garappolo</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Kyle Shanahan</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">13</td>
                                            <td class="derrotas2022">4</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">10</td>
                                            <td class="derrotas2021">7</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">6</td>
                                            <td class="derrotas2020">10</td>
                                            <td class="empates2020">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito7" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                        <li class="border-top border-dark my-3 mx-5"></li>
                        <li class="row equipo m-0">
                            <div class="col-3 text-center foto10"><img class="bd-placeholder-img bd-placeholder-img-lg featurette image
                        img-fluid mx-auto;" src="img/Bengals.png"></div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-5 pt-3"><span class="nombreEquipo fs-4" id="Bengals">Cincinnati Bengals</span>
                                <ul class="pt-2 fs-5">
                                    <li class="my-2"><span class="enunciado">Sede:</span><span class="nombreSede">Cincinnati,Ohio</span></li>
                                    <li class="my-2"><span class="enunciado">Estadio:</span><span class="nombreEstadio">Paul Brown Stadium</span></li>
                                    <li class="my-2"><span class="enunciado">SuperBowls:</span><span class="nombrenumeroSuperbowls">0</span></li>
                                    <li class="my-2"><span class="enunciado">Quarterback:</span><span class="nombreQuarterback">Joe Burrow</span></li>
                                    <li class="my-2"><span class="enunciado">Entrenador:</span><span class="nombreEntrenador">Zac Taylor</span></li>
                                </ul>

                            </div>
                            <div class="col-4 row tabla text-center p-6 d-none d-lg-block ">

                                <table class=" table table-warning text-center align-self-center">
                                    <thead>
                                        <tr class="table-success">
                                            <th scope="row"></th>
                                            <th scope="col">Victorias</th>
                                            <th scope="col">Derrotas</th>
                                            <th scope="col">Empates</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-warning">
                                             <th scope="row">2022</th>
                                            <td id="ultimavictoria" class="victorias2022">12</td>
                                            <td class="derrotas2022">4</td>
                                            <td class="empates2022">0</td>
                                        </tr>
                                        <tr class="table-dark">
                                            <th scope="row">2021</th>
                                            <td class="victorias2021">10</td>
                                            <td class="derrotas2021">7</td>
                                            <td class="empates2021">0</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th scope="row">2020</th>
                                            <td class="victorias2020">4</td>
                                            <td class="derrotas2020">11</td>
                                            <td class="empates2020">1</td>
                                        </tr>
                                        <tr class="table-secondary">
                                            <th class="favorito8" colspan="4" scope="row">FAVORITO</th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </main>
    <footer class="container-fluid text-center p-0">NFL SUPERBOWL 2023

        <div class="row me-0">

        </div>


    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    
</body>

</html>